
       body{
        margin: 10px;
        background-color: #0d1117;
        color: white;
        font-family:Arial,Helvetica,sans-serif;
       }
       h2{
        margin-top: 20px;
        background-color: #0d1117;
        color: white;
        font-family:Arial,Helvetica,sans-serif;
       }
       .navbar{
        background-color: #161b22;
        border-bottom: 2px solid #7c3aed;
       }
       .navbar-brand{
        color: #bca1ec;
         font-weight: 700;
        font-size:1.5rem;
         text-decoration: none;
       }
       .navbar-brand:hover{
        color:#d6bcfa;
       }
       .card{
        background-color: #161b22;
        border: 1px solid #30363d;
        border-radius: 12px;
        color:white;
        transition:0.3s;
       }
       .list-group{
        gap:10px;
       }
       .list-group button{
        background-color:transparent;
        color : white;
        border : 1px solid #30363d;
        border-radius: 8px;
        padding :12px;
        text-align :left;
        transition :all 0.3s ease;
       }
       .list-group button:hover{
        background-color: #7c3aed;
        border-color:#7c3aed;
        color:white;
       }
       .list-group button i{
        margin-right:10px;
        width:22px;
       }
       .profile-img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 4px solid #7c3aed;
        object-fit: cover;
        max-width:100%;
       }
       .bio-text{
        color:#d1d5db;
        font-size:16px;
        margin-top:10px;
       }
       #username{
        font-weight:bold;
        margin-bottom:10px;
       }
       #followersCount,
       #followingCount{
        color:#bca1ec;
        font-size:20px;
       }
        .btn-purple{
        background-color: #7c3aed;
        color: white;
        border:none;
    }
        .btn-purple:hover{
        background-color: #6d28d9;
        color: white;
    }
    .form-control{
        background-color: #0d1117;
        border:1px solid #30363d;
        color:white;
    }
    .form-control::placeholder{
    color:#8b949e;
    }
        .form-control:focus{
        background-color: #0d1117;
        border-color:#7c3aed;
        color:white;
        box-shadow:none
    }
    textarea{
        resize:none;
    }
    #content{
        min-height:600px;
    }
    .active-menu{
        background-color: #7c3aed;
        border-color:#7c3aed;
        color:white;

    }
    @media(max-width:768px){
        .profile-img{
            width:120px;
            height:120px;
            margin-bottom:20px;
        }
        .list-group{
            margin-bottom:20px;
        }
        #content{
            margin-top:20px;
        }
    }
<<<<<<< Updated upstream
    .form-check-input{
    cursor:pointer;
=======
    .offcanvas{
        background-color:#161b22;
        color:white;
    }
    .offcanvas .menu-btn{
        color:white;
    }

.offcanvas .menu-btn i{
    color:white;
}
    .offcanvas-header{
        border-bottom: 1px solid #30363d;
    }
    .offcanvas-body{
        padding-top:20px;
    }
    .menu-btn{
        background:transparent;
        color:white;
        border:1px solid #30363d;
        text-align:left;
        padding:12px;
        border-radius:8px;
        transition:all 0.3s ease;
        width:100%;
    }
    .menu-btn:hover{
    background:#7c3aed;
    border-color:#7c3aed;
    color:white;
}
.btn-close{
    filter:invert(1);
>>>>>>> Stashed changes
}

.modal-content{
    background:#1c2128;
    color:#f0f6fc;
    border:1px solid #30363d;
    border-radius:18px;
    box-shadow: 0 18px 45px rgba(0,0,0,.45);
}
.report-icon{
    color:#7c3aed;
}
.modal-body p{
    font-size:.95rem;
    line-height:1.7;
    color:#8b949e;
    padding:1.5rem;
}
.modal-header{
    padding:1.5rem 2rem;
}

.modal-footer{
    display:flex;
    justify-content:flex-end;
    padding: 1.5em 2rem;
    gap:.75rem;
    border-top:1px solid #30363d
}
.list-group-item{
    display:flex;
    align-items:flex-start;
    gap:.75rem;
    min-height:52px;
    white-space:nowrap;
    background:#21262d;
    color:#f0f6fc;
    border:1px solid #30363d;
    border-radius:10px;
    margin-bottom:10px;
    transition:
     background .2s,
     border-color .2s,
     transform .15s
}


.list-group-item:hover{
    background:#2d333b;
    border-color:#7c3aed;
}
.report-btn{
    background:#7c3aed;
    color:white;
    border:none;
    transition: .2s;
}

.report-btn:hover{
    background:#6d28d9;
    color:white;
    tansform:translateY(-1px)
}

.notification-card{
    background-color:#1a1a2e;
    border:none;
    border-radius:12px;
   transition: all 0.2s ease;
   cursor:pointer;
}
.notification-card:hover{
    background-color:#1e1e3a;
    transform: translateY(-2px);
}
.notification-card.unread{
    border-left: 3px solid #7c3aed
}
.badge-new{
    background-color:#7c3aed;
    color:#ffffff;
    font-size:11px;
    padding:3px 10px;
    border-radius:999px;
}
.btn-purple {
    border: 1px solid #7c3aed;
    color: #7c3aed;
    background: transparent;
    padding: 5px 12px;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-purple:hover {
    background-color: #7c3aed;
    color: #ffffff;
}

#report-page{
    margin: 20px;
}
.report-body{
    display:flex;
    justify-content: space-between;
    background-color: #21262d;
}

.report-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
